<style>
    .container {width: 100%; margin: auto;}
    @media(min-width:600px) {.container{width: 80%;}}
    @media(min-width:768px) {.container{width: 60%;}}
    @media(min-width:1024px) {.container{width: 50%;}}
</style>

<div class="container">
    <img src="https://th.bing.com/th/id/R.b83e947c0dda69e081390c1a892f10ed?rik=m6nYTDtz0ixc6Q&riu=http%3a%2f%2ftmyun.com%2fjpeg%2fyun_19947.jpg&ehk=DhXw8PJ5NBbyYKPewnZRsgn66M8ciPy08kzDgc9ocxA%3d&risl=&pid=ImgRaw&r=0"
     width="300" height="200">
    <form action="/main" method="post">
        <p><h2>Welcome to AI service. May I know your name? </h2></p>
        <p><input type ="text" name="name"></p>
        <p><input type="submit" value="Enter"></p>
    </form>